$blue: #007bff;
.mt {
  margin-top: 2rem;
}
.btn {
  width: 100px;
  padding: 10px 20px;
  border: 1px solid blue;
  cursor: pointer;
  background: none;

  .btn-color {
    background-color: $blue;
  }
  &:hover {
    background-color: #0468d3;
  }
}
